@import "../../../pages/common";
.main {
  margin-top: 80rem;
  .pharse-title {
    font-family: "Sofia Pro Ultra Light";
    color: @main-color;
    font-size: 23rem;
    line-height: 23rem;
    margin-bottom: 8rem;
  }
  .pharse-main-body {
    border-top: 1rem solid #000000;
    padding-top: 14rem;
  }
  .pharse-container {
    display: flex;
    justify-content: space-between;
  }
}
