@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___EG-zS {
  color: #212772;
}
.split-line-color___3LrYH {
  color: #000000;
}
body {
  margin: 0;
  user-select: none;
}
.layout___3KKqz {
  width: 1600rem;
  margin: 0 auto;
  margin-top: 52.5rem;
  margin-bottom: 180rem;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___1ATyE {
  color: #212772;
}
.split-line-color___9hkSs {
  color: #000000;
}
.layout-menu-container___11U8b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-menu-item___zoOMp {
  font-size: 23rem;
  line-height: 32rem;
  font-family: 'Sofia Pro Bold', 'Sofia Pro', Serif;
  font-style: italic;
  color: #000000;
  cursor: pointer;
}
.layout-slider___15Qhc {
  margin-top: 6rem;
  height: 16rem;
}
.layout-slider-line___JbK2f {
  width: 100%;
  height: 1rem;
  background-color: #000000;
}
.layout-slider-dot___2OqTm {
  float: left;
  display: inline-block;
  height: 16rem;
  width: 16rem;
  background-color: #000;
  border-radius: 50%;
  transition: 0.6s ease-in-out;
}
.animated___3Ynd9 {
  transition: 0.6s ease-in-out;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___1vwFq {
  color: #212772;
}
.split-line-color___1RwQl {
  color: #000000;
}
.banner-container___2iee0 {
  margin-top: 117rem;
  margin-bottom: 100rem;
}
.title___14UTd {
  display: flex;
}
.picture___3K3mg {
  width: 741rem;
  height: 373rem;
  background-color: #9eb4d1;
  transition: 0.6s ease-in-out;
}
.name___2o-lr {
  display: inline-block;
  margin-left: 60rem;
}
.name___2o-lr .welcome___29rMH {
  display: table-cell;
  vertical-align: bottom;
  height: 52rem;
  line-height: 35rem;
  font-size: 26.4rem;
  font-family: "Sofia Pro Light";
  color: #000000;
}
.name___2o-lr .actual-name___1r6DP {
  margin-top: 71rem;
  transform: translateX(-7.5rem);
}
.name___2o-lr .actual-name___1r6DP span {
  font-size: 108rem;
  line-height: 108rem;
  height: 108rem;
  color: #212772;
}
.name___2o-lr .actual-name___1r6DP .chinese-name___2k66j {
  font-family: "Sofia Pro Black";
}
.name___2o-lr .actual-name___1r6DP .english-name___ti-Rj {
  font-family: "Sofia Pro Ultra Light";
}
.name___2o-lr .who-am-i___3WFNN {
  font-size: 26.4rem;
  line-height: 35rem;
  font-family: "Sofia Pro Light";
}
.metaphor___ecs05 {
  margin-top: 27rem;
  font-family: 'Sofia Pro Bold', 'Sofia Pro', Serif;
  font-style: italic;
  color: #212772;
  font-size: 23rem;
  line-height: 23rem;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___HghB8 {
  color: #212772;
}
.split-line-color___2oU8J {
  color: #000000;
}
.pharse-body___1jZ7O {
  border-top: 1rem solid #000000;
  padding-top: 14rem;
  display: flex;
  justify-content: space-between;
}
.contact-container___1K470 {
  border-top: 1rem solid #000000;
  padding-top: 14rem;
  display: flex;
  justify-content: space-between;
}

.info-container___3GTzi {
  display: flex;
  flex-direction: column;
}
.info___1C7pF {
  margin-top: 10rem;
  line-height: 20rem;
  font-size: 20rem;
  font-family: "Sofia Pro Medium";
  justify-self: flex-end;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___-a4BP {
  color: #212772;
}
.split-line-color___1NAD8 {
  color: #000000;
}
.main___dFapN {
  margin-top: 80rem;
}
.main___dFapN .pharse-title___KDx0B {
  font-family: "Sofia Pro Ultra Light";
  color: #212772;
  font-size: 23rem;
  line-height: 23rem;
  margin-bottom: 8rem;
}
.main___dFapN .pharse-main-body___1AkK2 {
  border-top: 1rem solid #000000;
  padding-top: 14rem;
}
.main___dFapN .pharse-container___2lkOx {
  display: flex;
  justify-content: space-between;
}

.info-container___DmMR0 {
  display: flex;
  flex-direction: column;
}
.info___31OhC {
  margin-top: 10rem;
  font-size: 20rem;
  font-family: "Sofia Pro Medium";
  justify-self: flex-end;
}

.info-container___gv01a {
  display: flex;
  flex-direction: column;
}
.info___1C4Oe {
  margin-top: 10rem;
  line-height: 20rem;
  font-size: 20rem;
  font-family: "Sofia Pro Light";
  font-style: italic;
  justify-self: flex-end;
}

.info-container___3jIr7 {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.info___2-8k- {
  height: 16rem;
  text-align: left;
  padding-top: 10rem;
  line-height: 20rem;
  font-size: 20rem;
  font-family: "Sofia Pro Ultra Light";
  justify-self: flex-end;
  padding-left: 7rem;
  border-left: 1rem solid #616161;
  margin-left: 28rem;
  color: #616161;
}
.info___2-8k-:nth-of-type(1) {
  padding-top: 0;
  margin-top: 10rem;
}

.main___3sGd6 {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  height: 30vh;
  width: 1600rem;
  text-align: center;
  padding-top: 187rem;
  font-family: "Sofia Pro Black";
  font-size: 30rem;
  color: #212772;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___2RATp {
  color: #212772;
}
.split-line-color___1aBwu {
  color: #000000;
}
.project-images___3jO0d {
  display: flex;
  height: 245rem;
}
.project-images___3jO0d div {
  margin-right: 5rem;
}
.project-images___3jO0d div:nth-last-of-type(1) {
  margin-right: 0;
}
.project-images___3jO0d div .project-image___38v8v {
  width: 490rem;
  height: 245rem;
}
.project-index-item___rOerk {
  display: flex;
  color: black;
  justify-content: space-between;
  text-align: left;
  padding: 40rem 0;
  margin-bottom: 387rem;
}
.project-index-item___rOerk:nth-last-of-type(1) {
  margin-bottom: 223rem;
}
.project-index-item___rOerk:hover {
  background-color: #e2e2e2;
  transition: 0.6s ease-in-out;
}
.project-index-subtitle___YcFUz {
  font-family: "Sofia Pro Regular";
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 33.6px;
}
.project-index-subtitle___YcFUz span {
  display: block;
}
.project-index-subtitle___YcFUz:hover {
  text-decoration: underline;
}
.project-index-title___1t5-0 {
  font-family: "Sofia Pro Semi bold";
  font-size: 58rem;
  display: inline-block;
  border-bottom: 2px solid #000000;
  line-height: 1;
}

