.project-detail-item___3nVhL {
  padding-top: 125rem;
  padding-bottom: 158rem;
}
.project-detail-item___3nVhL .project-detail-images___1_kNN .project-detail-image___19LrW {
  width: 1600rem;
  height: 640rem;
}
.project-detail-item___3nVhL .project-detail-title___1xjA0 {
  font-family: 'Sofia Pro Semi Bold';
  font-size: 58rem;
  letter-spacing: 0;
  border-bottom: 2rem solid;
  line-height: 1;
  display: inline-block;
  margin-top: 70rem;
}
.project-detail-item___3nVhL .project-detail-subtitle___31b4C {
  margin-top: 4rem;
  font-family: 'Sofia Pro Regular';
  font-size: 24rem;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}
.project-detail-item___3nVhL .project-detail-subtitle___31b4C span {
  line-height: 24rem;
  padding-top: 9rem;
  display: table-cell;
  vertical-align: bottom;
}
.project-detail-item___3nVhL .project-detail-details___1UI-I {
  margin-top: 74rem;
  color: white;
  font-family: "Sofia Pro Regular";
  font-size: 20rem;
  letter-spacing: 0;
  text-align: justify;
  padding: 14rem;
  line-height: 33.4rem;
}
.project-detail-item___3nVhL .project-detail-details___1UI-I .project-detail-tags___2Cbgb {
  padding-top: 9rem;
}
.project-detail-item___3nVhL .project-detail-details___1UI-I .project-detail-details-desc___-9OK5 {
  padding-top: 32rem;
}
.project-detail-item___3nVhL .project-detail-details-images___24caU {
  width: 1600rem;
}
.project-detail-item___3nVhL .project-detail-stop-icon___32xA1 {
  letter-spacing: 30rem;
  font-family: 'Sofia Pro Regular';
  font-size: 100rem;
  line-height: 900rem;
  text-align: center;
  overflow: hidden;
  color: #fff;
  position: absolute;
  width: 100%;
}
.project-detail-item___3nVhL .project-detail-video-control-bar___1VxkC {
  width: 100%;
  height: 150rem;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-detail-item___3nVhL .project-detail-video-control-bar___1VxkC .bar___1Y5jo {
  width: 80%;
  height: 4rem;
  border-radius: 3rem;
  display: inline-block;
  background-color: #383838;
  position: absolute;
  left: 10%;
  top: calc(50% - 2rem);
}
.project-detail-item___3nVhL .project-detail-video-control-bar___1VxkC .bar___1Y5jo .progress___3hCvj {
  background-color: #fff;
  transition: 0.5s ease;
  height: inherit;
}
.project-detail-item___3nVhL .project-detail-video-control-bar___1VxkC .circle___i9JXO {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 10;
}

.title-img___1REhK {
  width: 1600rem;
  height: auto !important;
}
.detail-img___3wUKC {
  margin-top: 8rem;
}

.link___aJMec {
  display: block;
  text-align: center;
  color: #9e0601;
  font-size: 20rem;
  letter-spacing: 2rem;
  text-decoration: none;
  font-family: "Sofia Pro Regular";
}
.link___aJMec:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'Sofia Pro Regular';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Regular.otf'), url("/_next/static/chunks/fonts/Sofia Pro Regular-bd0a6d0d1ce78e95fb1629450636bc6f.otf");
}
@font-face {
  font-family: 'Sofia Pro Italic';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Italic-d621fdcdc4f3a8e7c3d01eb8a452dba2.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black-18eb57634a729a58f02ef1a2a21e98b9.otf");
}
@font-face {
  font-family: 'Sofia Pro Black';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Black Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Black Italic-b748649c11454ad4b95bf618b5b1802c.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium.otf'), url('/static/fonts/Sofia Pro Medium.otf');
}
@font-face {
  font-family: 'Sofia Pro Medium';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Medium Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Medium Italic-7517a7e3ab525bfa34156e8555aa5d92.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro bold-28b75bc6b4d35b59ecf476db59bc4ecf.otf");
}
@font-face {
  font-family: 'Sofia Pro bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Bold Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Bold Italic-30b728cd2215d41b0a5ebc5e5ccf6228.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Semi bold';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Semi Bold.otf'), url("/_next/static/chunks/fonts/Sofia Pro Semi bold-a57bde9593a32d99ff54c3716859cc19.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light-52fa5a506994382612ed5936f1e94660.otf");
}
@font-face {
  font-family: 'Sofia Pro Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Light Italic-02d23a1ad786236c74c2afa06c589e34.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light-4bdc72d871a96c7a9bf467f5d5cff5f0.otf");
}
@font-face {
  font-family: 'Sofia Pro Ultra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Ultra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Ultra Light Italic-6bd7b751c9b9e39cbc3205c9adead5a9.otf");
  font-style: italic;
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light-8b590b229ee431c83a27e8930ad80781.otf");
}
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url('http://144.34.173.162/static/fonts/Sofia Pro Extra Light Italic.otf'), url("/_next/static/chunks/fonts/Sofia Pro Extra Light Italic-36ddf111eefa96731c7064c7f20ee579.otf");
  font-style: italic;
}
.main-color___2AbCi {
  color: #212772;
}
.split-line-color___2wupk {
  color: #000000;
}
body {
  margin: 0;
  user-select: none;
}
.layout___l-LZX {
  width: 1600rem;
  margin: 0 auto;
  margin-top: 52.5rem;
  margin-bottom: 180rem;
}
.solution-layout___FSfQa {
  width: 100vw;
  font-size: 0;
  background-color: #ffffff;
  text-align: center;
}
.solution-layout___FSfQa img {
  height: 100vh;
}

